<div class="container-fluid px-4">
    <h1 class="mt-4">Favorite Animes</h1>
    <div>         
        <table class="table table-success table-striped">
            <thead>
                <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Year</th>
                <th>Rate</th>
                </tr>
            </thead>

            <tbody>
             <% current_user.favorites.each do |favorite| %>
            <tr>
                <td><%= favorite.anime.name %></td>
                <td><%= favorite.anime.author %></td>
                <td><%= favorite.anime.category %></td>
                <td><%= favorite.anime.year %></td>
                <td><%= favorite.anime.rate %></td>                
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>   
</div>