<div class="container-fluid px-4">
    <h1 class="mt-4">Followed Animes</h1>
    <div>         
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Year</th>
                    <th>Rate</th>
                </tr>
            </thead>

            <tbody>
             <% current_user.follow_animes.each do |follow_anime| %>
                <tr>
                    <td><%= follow_anime.anime.name %></td>
                    <td><%= follow_anime.anime.author %></td>
                    <td><%= follow_anime.anime.category %></td>
                    <td><%= follow_anime.anime.year %></td>
                    <td><%= follow_anime.anime.rate %></td>   
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>   
</div>

<%= link_to 'back', root_path %>