<%= link_to 'New Anime', new_anime_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Category</th>
      <th>Year</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.name %></td>
        <td><%= anime.author %></td>
        <td><%= anime.category %></td>
        <td><%= anime.year %></td>
        <td><%= anime.rate %></td>
        
        
        <td><%= link_to 'Show', anime %></td>
        <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
        <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>
<br>