<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Year</th>
        <th>Rate</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @animes.each do |anime| %>
        <tr>
            <td><%= anime.name %></td>
            <td><%= anime.author %></td>
            <td><%= anime.category %></td>
            <td><%= anime.year %></td>
            <td><%= anime.rate %></td> 

            <td><%= link_to 'Show', anime %></td>
            <%if current_user.present? %>
                <% favorite = favorite(anime) %>            
                <% if favorite.nil? %>
                    <td><%= link_to "favorite", anime_favorites_path(anime), method: :post , class:"btn btn-warning"%></td>
                <% else%>
                    <td><%= link_to "unfavorite", anime_favorite_path(favorite.anime, favorite.id), method: :delete , class:"btn btn-warning"%></td>
                <% end %>
            <% end %>
                     
            <%if current_user.present? %>       
                <% follow_anime = falow_anime(anime) %>
                <% if follow_anime.nil? %>
                    <td><%= link_to "follow anime", anime_follow_animes_path(anime), method: :post , class:"btn btn-warning"%></td>
                <% else %>
                    <td><%= link_to "unfollow", anime_follow_anime_path(follow_anime.anime, follow_anime.id), method: :delete , class:"btn btn-warning"%></td>
                <% end %>
            <% end %>
   
        </tr>
        <% end %>
    </tbody>
</table>