<div class="container-fluid px-4">
    <h1 class="mt-4">Animes</h1>
    <div>         
        <table class="table table-hover">
           <thead>
                <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Year</th>
                <th>Rate</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @animes.each do |anime| %>
                <tr>
                    <td><%= anime.name %></td>
                    <td><%= anime.author %></td>
                    <td><%= anime.category %></td>
                    <td><%= anime.year %></td>
                    <td><%= anime.rate %></td> 

                    <td><%= link_to icon("far fa-4x", "eye", class:"btn text-info"), anime %></td>
                    <%if current_user.present? %>
                        <% favorite = favorite(anime) %>            
                        <% if favorite.nil? %>
                            <td><%= link_to icon("far fa-3x", "star", class: "text-primary"), anime_favorites_path(anime), method: :post %></td>
                        <% else%>
                            <td><%= link_to icon("fas fa-3x", "star", class: "text-warning"), anime_favorite_path(favorite.anime, favorite.id), method: :delete %></td>
                        <% end %>
                    <% end %>
                            
                    <%if current_user.present? %>       
                        <% follow_anime = falow_anime(anime) %>
                        <% if follow_anime.nil? %>
                            <td><%= link_to icon("far fa-3x", "thumbs-up", class: "text-primary"), anime_follow_animes_path(anime), method: :post %></td>
                        <% else %>
                            <td><%= link_to icon("far fa-3x", "thumbs-up", class: "text-warning"), anime_follow_anime_path(follow_anime.anime, follow_anime.id), method: :delete %></td>
                        <% end %>
                    <% end %>
        
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>   
</div>