<p id="notice"><%= notice %></p>

<h1>Animes List</h1>
<% if user_signed_in? %>
  <% if policy(@animes).index? %>
    <%= render partial: "admin_index"  %>
  <% else %>
    <%= render partial: "otaku_index" %>
  <% end %>
<% else %>
  <%= render partial: "otaku_index" %>
<% end %>



<% if user_signed_in? %>
  <%= current_user.email %>
  <ul>
    <li><%= link_to 'LogOut', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'New Anime', new_anime_path %></li>
    <li><%= link_to 'Usuários', control_users_index_path %></li>
    <li><%= link_to 'Favorites', anime_favorites_path(:anime_id)%></li>
  </ul>  
<% else %>
  <%= link_to 'LogIn', new_user_session_path %>
  <%= link_to 'New User/otaku', new_user_registration_path %>  
<% end %>



